[submodule "torch-mlir"]
	path = torch-mlir
	url = https://github.com/llvm/torch-mlir
[submodule "mlir-dace"]
	path = mlir-dace
	url = https://github.com/spcl/mlir-dace
	branch = to-sdir-converter
[submodule "mlir-hlo"]
	path = mlir-hlo
	url = https://github.com/tensorflow/mlir-hlo
[submodule "Polygeist"]
	path = Polygeist
	url = https://github.com/llvm/Polygeist
[submodule "polybench-comparator"]
	path = polybench-comparator
	url = https://github.com/spcl/polybench-comparator
